<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>construction</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <h1>Construction</h1>
    <img alt="" style="width:50%;height:50%;" src="https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg">
    
    <p>
        Making applications that support civil engineers as well as building and programming the technology used in construction machinery. Specify hardware components and develop electrical wiring diagrams.
    </p>

    <h3>Jobs:</h3>

    <h6>Software Developer Field Applications</h6>
    <p>Average Salary: $100,000</p>

    <h6>e-Builder Consultant</h6>
    <p>Average Salary: $85,000</p>

    <h6>Automatic Controls Engineer</h6>
    <p>Average Salary: $88,000</p>
    
    <%- include("../temp/footer.ejs"); %>
</body>
</html>