<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>construction</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg);">
        <div class="headerText">
            <h1 class="imgText">
                Construction
            </h1>
        </div>
    </section>

    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">
    
    <p>
        Making applications that support civil engineers as well as building and programming the technology used in construction machinery. Specify hardware components and develop electrical wiring diagrams.
    </p>
    
    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">Jobs:</h3>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Software Developer Field Applications</h6>
    <p>Average Salary: $100,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">e-Builder Consultant</h6>
    <p>Average Salary: $85,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Automatic Controls Engineer</h6>
    <p>Average Salary: $88,000</p>
    
    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">References</h3>
    <p>https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg</p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>
