<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Security</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <h1>Cyber Security</h1>
    <img alt="Cyber Security - Group implementing cyber security protocols" style="width:50%;height:50%;" src="https://www.axians.com/app/uploads/sites/11/2020/11/CyberSecurityNew_05-e1606209321698.jpg">

    <p>
        Description: Information system assets are protected by spotting and fixing existing and potential security issues. This job defines resources, control structures, and access privileges to protect systems. Detects issues by pointing out anomalies and reporting violations.
    </p>

    <h3>Jobs:</h3>

    <h6>Cyber Security Analyst/Engineer</h6>
    <p>Average Salary: $127,000</p>
    
    <h6>Purple Teamer</h6>
    <p>Average Salary: $76,000</p>

    <h6></h6>
    <p>Average Salary: </p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>