<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Security</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://www.axians.com/app/uploads/sites/11/2020/11/CyberSecurityNew_05-e1606209321698.jpg);">
        <div class="headerText">
            <h1 class="imgText">
                Cyber Security
            </h1>
        </div>
    </section>

    <hr>
    <p>
        Description: Information system assets are protected by spotting and fixing existing and potential security issues. This job defines resources, control structures, and access privileges to protect systems. Detects issues by pointing out anomalies and reporting violations.
    </p>
    <hr>

    <h3>Jobs:</h3>

    <h6>Cyber Security Analyst/Engineer</h6>
    <p>Average Salary: $127,000</p>
    
    <h6>Purple Teamer</h6>
    <p>Average Salary: $76,000</p>

    <h6>White Hat Hacker</h6>
    <p>Average Salary: $90,000</p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>