<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <h1>Education</h1>
    <img alt="" style="width:50%;height:50%;" src="https://www.steameastus.com/wp-content/uploads/2022/08/Technology-cLASS.jpg"> 
    
    <p>
        When technology and education intercept it’s more often than not in the process to create tools and applications used in the classroom. These tool’s main focus is facilitating communication and collaboration beyond the classroom, as well as providing access to more learning resources.
    </p>

    <h3>Jobs:</h3>

    <h6>Senior Interaction Designer, Learning and Education</h6>
    <p>Average Salary: $157,000</p>

    <h6>Computer Science Instructor</h6>
    <p>Average Salary: $46,000</p>

    <h6>Computer Science Education Specialist</h6>
    <p>Average Salary: $57,000</p>
    
    <%- include("../temp/footer.ejs"); %>
</body>
</html>