<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://www.news-medical.net/images/Article_Images/ImageForArticle_22572_16533781526443229.jpg);">
        <div class="headerText">
            <h1 class="imgText">
                Health Care
            </h1>
        </div>
    </section>

    <hr>
    <p>
        Computer Science is used in the healthcare field to collect patient data and create algorithms that help analyze such complex data to identify patterns that medical researchers would otherwise have a hard time recognizing. These algorithms need to be constantly updated as new scientific discoveries come up to make the research process more efficient.
    </p>
    <hr>

    <h3>Jobs:</h3>

    <h6>Operational Technology Engineer</h6>
    <p>Average Salary: $85,000</p>

    <h6>Software Engineer Medical Imaging</h6>
    <p>Average Salary: $95,000</p>

    <h6>ADT Data Integration Engineer</h6>
    <p>Average Salary: $40,000</p>

    <h6>Research Software Engineer, Data Science</h6>
    <p>Average Salary: $95,000</p>

    <hr>

    <h3>References</h3>
    <p>https://www.news-medical.net/images/Article_Images/ImageForArticle_22572_16533781526443229.jpg</p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>