<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet of Things</title>
    <%- include("../temp/favicon.ejs"); %>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <p>Internet of Things</p>
    <img alt="Internet of Things - Diagram of how it works" style="width:50%;height:50%;" src="https://dmexco-lightsails-media.s3.eu-central-1.amazonaws.com/wp-content/uploads/2020/10/19091519/internet-of-things-scaled.jpeg">
    <%- include("../temp/footer.ejs"); %>
</body>
</html>