<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet of Things</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://dmexco-lightsails-media.s3.eu-central-1.amazonaws.com/wp-content/uploads/2020/10/19091519/internet-of-things-scaled.jpeg);">
        <div class="headerText">
            <h1>
                Internet of Things (IoT)
            </h1>
        </div>
    </section>
    
    <p>
        The internet of things (IoT), is a network of physical objects, or things, that have sensors, software, or other technologies that aid in the connection and exchange of data over the internet or through networks. Data collected from the physical world is analyzed by the digital world to help make people's lives easier.
    </p>

    <h3>Jobs:</h3>

    <h6>IoT Research Engineer</h6>
    <p>Average Salary: $150,000</p>

    <h6>Vulnerability/Cyber Engineer</h6>
    <p>Average Salary: $118,000</p>

    <h6>Activation and Customer Success Consultant</h6>
    <p>Average Salary: $79,000</p>
    
    <%- include("../temp/footer.ejs"); %>
</body>
</html>