<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://images.pexels.com/photos/2426085/pexels-photo-2426085.jpeg);">
        <div class="headerText">
            <h1>
                Music
            </h1>
        </div>
    </section>
    
    <p>
        Work to design and improve sound quality in production as well as post-production. Develop and improve algorithms for generating audio.
    </p>

    <h3>Jobs:</h3>

    <h6>Sound Producer/Python Engineer</h6>
    <p>Average Salary: $120,000</p>
    <p></p>

    <h6>Machine Learning Engineer, Computational Music</h6>
    <p>Average Salary: $85,000</p>
    <p></p>

    <h6></h6>
    <p>Average Salary: </p>
    <p></p>
    
    <%- include("../temp/footer.ejs"); %>
</body>
</html>