<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual & Augmented Reality Space</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <h1>Augmented, Virtual, and Mixed Reality Spaces</h1>
    <img alt="" style="width:50%;height:50%;" src="https://www.spheregen.com/wp-content/uploads/2021/09/AdobeStock_279186484-scaled.jpeg">
    
    <p>
        Augmented reality jobs focus on manufacturing equipment and programming content. In this field, you may use programming languages, 3D modeling and animation tools, geospatial information systems, machine learning, or drones to gather and apply information.
    </p>

    <h3>Jobs:</h3>

    <h6>Design/Graphics Engineer</h6>
    <p>Average Salary: $84,000</p>

    <h6>XR Gameplay and Tools Engineer</h6>
    <p>Average Salary: $107,000</p>

    <h6></h6>
    <p>Average Salary: </p>
    
    <%- include("../temp/footer.ejs"); %>
</body>
</html>