<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theoretical Computer Science</title>
    <%- include("../temp/favicon.ejs"); %>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <p>Theoretical Computer Science</p>
    <img alt="Theoretical Computer - Professor holding a iPad while a student writes on chalkboard" style="width:50%;height:50%;" src="https://www.towson.edu/fcsm/images/computer-science-math-major-hero-m.jpg">

    <%- include("../temp/footer.ejs"); %>
</body>
</html>