<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theoretical Computer Science</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://www.towson.edu/fcsm/images/computer-science-math-major-hero-m.jpg);">
        <div class="headerText">
            <h1 class="imgText">
                Theoretical Computer Science
            </h1>
        </div>
    </section>

    <hr>
    <p>
        Theoretical computer science is a discipline that focuses on the mathematical aspect of computer science. Some of the topics that are being investigated include the theory of algorithms, complexity theory, and lambda calculus. 
    </p>
    <hr>

    <h3>Jobs:</h3>

    <h6>Algorithm Scientist</h6>
    <p>Average Salary: $119,000</p>

    <h6>Machine Learning Engineer</h6>
    <p>Average Salary: $125,000</p>

    <h6>Theoretical Quantum Information Scientist</h6>
    <p>Average Salary: $131,000</p>

    <hr>

    <h3>References</h3>
    <p>https://math.mit.edu/research/applied/comp-science-theory.php </p>
    <p>https://en.wikipedia.org/wiki/Theoretical_computer_science </p>
    <p>https://www.glassdoor.com/Salaries/algorithm-scientist-salary-SRCH_KO0,19.htm</p>
    <p>https://www.indeed.com/career/machine-learning-engineer/salaries</p>
    <p>https://www.glassdoor.com/Salaries/quantum-research-scientist-salary-SRCH_KO0,26.htm#:~:text=The%20national%20average%20salary%20for,per%20year%20in%20United%20States</p>
    <p>https://www.towson.edu/fcsm/departments/computerinfosci/undergrad/computer-mathematical-sciences-major.html</p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>