<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
</head>
<body>
    <%- include("./temp/header.ejs"); %>
    <p>Industries</p>

    <a href="industries/dataScience">
        <img alt="Woman Data Scientist" style="width:50%;height:50%;" src="https://www.udacity.com/blog/wp-content/uploads/2021/03/Data-Science-and-ML-Careers_Blog.jpeg">
    </a>
    <a href="industries/iot">
        <img alt="Internet of Things Diagram" style="width:50%;height:50%;" src="https://dmexco-lightsails-media.s3.eu-central-1.amazonaws.com/wp-content/uploads/2020/10/19091519/internet-of-things-scaled.jpeg">
    </a>
    <a href="industries/finance">
        <img alt="Finance in Technological Fields" style="width:50%;height:50%;" src="https://ccecosystems.news/wp-content/uploads/2021/07/bitcoin-and-cryptocurrency-1-scaled.jpeg">
    </a>
    <a href="industries/theoretical">
        <img alt="Theoretical Computer - Professor holding a iPad while a student writes on chalkboard" style="width:50%;height:50%;" src="https://www.towson.edu/fcsm/images/computer-science-math-major-hero-m.jpg">
    </a>
    <a href="industries/construction">
        <img alt="" style="width:50%;height:50%;">
    </a>
    <a href="industries/cyberSecurity">
        <img alt="" style="width:50%;height:50%;">
    </a>
    <a href="industries/education">
        <img alt="" style="width:50%;height:50%;"> 
    </a>
    <a href="industries/healthCare">
        <img alt="" style="width:50%;height:50%;">
    </a>
    <a href="industries/music">
        <img alt="" style="width:50%;height:50%;">
    </a>
    <a href="industries/realitySpace">
        <img alt="" style="width:50%;height:50%;">
    </a>

    <%- include("./temp/footer.ejs"); %>
</body>
</html>