<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industries</title>
    <%- include("./temp/favicon.ejs"); %>
</head>
<body>
    <%- include("./temp/header.ejs"); %>
    
    <p>Industries</p>

    <p>
        Click on the photos to learn more about these industries.
    </p>

    <a href="industries/dataScience">
        <img alt="Woman Data Scientist" style="width:25%;height:25%;" src="https://www.udacity.com/blog/wp-content/uploads/2021/03/Data-Science-and-ML-Careers_Blog.jpeg">
    </a>
    <a href="industries/iot">
        <img alt="Internet of Things - Diagram of how it works" style="width:25%;height:25%;" src="https://dmexco-lightsails-media.s3.eu-central-1.amazonaws.com/wp-content/uploads/2020/10/19091519/internet-of-things-scaled.jpeg">
    </a>
    <a href="industries/finance" style="position: relative;
    display: inline-block;">
        <span style="position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.5em;
        margin-left: -45%;
        width: 100%;
        height: 2em;
        font-weight:bold;
        font-size: 60px;
        -webkit-text-stroke: 2px black;
        color: lightgreen;">Finance</span>
        <img alt="Finance in Technological Fields" style="width:25%;height:25%;" src="https://ccecosystems.news/wp-content/uploads/2021/07/bitcoin-and-cryptocurrency-1-scaled.jpeg">
    </a>
    <a href="industries/theoretical">
        <img alt="Theoretical Computer - Professor holding a iPad while a student writes on chalkboard" style="width:25%;height:25%;" src="https://www.towson.edu/fcsm/images/computer-science-math-major-hero-m.jpg">
    </a>
    <a href="industries/construction">
        <img alt="" style="width:25%;height:25%;" src="https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg">
    </a>
    <a href="industries/cyberSecurity">
        <img alt="Cyber Security - Group implementing cyber security protocols" style="width:25%;height:25%;" src="https://www.axians.com/app/uploads/sites/11/2020/11/CyberSecurityNew_05-e1606209321698.jpg">
    </a>
    <a href="industries/education">
        <img alt="" style="width:25%;height:25%;" src="https://www.steameastus.com/wp-content/uploads/2022/08/Technology-cLASS.jpg"> 
    </a>
    <a href="industries/healthCare">
        <img alt="" style="width:25%;height:25%;" src="https://www.news-medical.net/images/Article_Images/ImageForArticle_22572_16533781526443229.jpg">
    </a>
    <a href="industries/music">
        <img alt="" style="width:25%;height:25%;" src="https://images.pexels.com/photos/2426085/pexels-photo-2426085.jpeg">
    </a>
    <a href="industries/realitySpace">
        <img alt="" style="width:25%;height:25%;" src="https://www.spheregen.com/wp-content/uploads/2021/09/AdobeStock_279186484-scaled.jpeg">
    </a>

    <%- include("./temp/footer.ejs"); %>
</body>
</html>