p {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 150%;
}

hr {
    border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900;  
}

span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -45%;
    width: 100%;
    font-weight:bold;
    font-size: 300%;
    text-shadow: 4px 2px 1px black, -1px -2px black;
    color: #c1c2bd;
}

a {
    position: relative; 
    display: inline-block;
}

.title {
    text-align: center;
    font-size: 450%;
    margin: 2% auto;
    color: #137900;

}

.instruct {
    text-align: center;
    margin: 2% auto;
    margin-bottom: 3%;
}

.flex-container {
    display: flex;
    justify-content: space-around;

}

.flex-child {
    padding: 2%;
    background: no-repeat center center;
    width: 400px;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    margin-left: 10%;
    align-content: center;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
}

.industry {
    
}

.imgHeader {
    background: no-repeat center center fixed;
    z-index: 2;
    margin: 0 auto;
    display: block;
    background-size: 100% 170px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerText {
    width: auto;
    height: 500px;
    width: 90%;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    
}

.imgText {
    font-size: 600%;
    color: #c1c2bd;
    -webkit-text-stroke: 1px #000;
    letter-spacing: 16px;
    text-align: center;
    text-shadow: 4px 2px 1px black
}

h1 {

}

h3 {
    margin-left: 1%;
    font-size: 150%;
}

h6 {
    margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    padding:0px;
    margin:0px;    
    background-color: #efede0;
}