<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>

    <section class="imgHeader" style="background-image: url(https://www.udacity.com/blog/wp-content/uploads/2021/03/Data-Science-and-ML-Careers_Blog.jpeg);">
        <div class="headerText">
            
            <h1 class="imgText">
                Data Science
            </h1>

        </div>
    </section>

    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <p>
        Data science is the field of study that combines domain expertise, programming skills, and knowledge. A data scientist's job is to analyze data for actionable insights. Specific tasks include: Identifying the data-analytics problems that offer the greatest opportunities to the organization. Determining the correct data sets and variables.
    </p>
    
    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">Jobs:</h3>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Machine Learning Scientist</h6>
    <p>Average Salary: $152,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Business Intelligence Developer</h6>
    <p>Average Salary: $100,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Statistician</h6>
    <p>Average Salary: $92,000</p>

    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">References</h3>
    <p>https://www.udacity.com/blog/wp-content/uploads/2021/03/Data-Science-and-ML-Careers_Blog.jpeg</p>

    <%- include("../temp/footer.ejs"); %>
</body>
</html>