<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <%- include("../temp/favicon.ejs"); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <%- include("../temp/header.ejs"); %>
    <section class="imgHeader" style="background-image: url(https://ccecosystems.news/wp-content/uploads/2021/07/bitcoin-and-cryptocurrency-1-scaled.jpeg);">
        <div class="headerText">
            <h1 class="imgText">
                Finance
            </h1>
        </div>
    </section>

    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <p>
        Technological skills can be brought into finance. Computational finance, cryptocurrency, and blockchains are some of the topics related to finance that can be modeled, analyzed, or solved problems using applied computer science. 
    </p>
    
    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">Jobs:</h3>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Risk Management Analyst</h6>
    <p>Average Salary: $220,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Quantitative Researcher</h6>
    <p>Average Salary: $148,000</p>

    <h6 style="margin: 2px;
    margin-left: 2%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;">Blockchain Developer</h6>
    <p>Average Salary: $89,000</p>

    <hr style="border-top: solid #137900;
    margin: 3% auto;
    size: 100;
    width: 6%;
    text-align: center;
    border-width: 1em #137900; ">

    <h3 style="margin-left: 1%;
    font-size: 150%;">References</h3>
    <p>https://en.wikipedia.org/wiki/Computational_finance</p>
    <p>https://www1.salary.com/Risk%20Management%20Analyst-Salary.html</p>
    <p>https://www.cmu.edu/mscf/careers/career-paths/index.html</p>
    <p>https://www.glassdoor.com/Salaries/quantitative-researcher-salary-SRCH_KO0,23.htm</p>
    <p>https://www.glassdoor.com/Salaries/blockchain-developer-salary-SRCH_KO0,20.htm</p>
    <p>https://ccecosystems.news/wp-content/uploads/2021/07/bitcoin-and-cryptocurrency-1-scaled.jpeg</p>


    <%- include("../temp/footer.ejs"); %>
</body>
</html>