<style>
    footer {
        position: relative;
        left: 0;
        bottom: -20px;
        text-align: center;
        margin: 0;
        width: 100%;
        background-color: #c1c2bd;
    }
    
    img {
        padding-top: 5px;
        width: 7%; 
        height: 7%;
    }

    .footerPad {
        margin:0px;
        padding:0px;
    }

</style>

<footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32 footerPad">
        <img src="/img/The Official Logo.png">
        <p></p>
        <a href="https://github.com/cg-c/NextStep"><i class="fa fa-github w3-hover-opacity" style="font-size:45px; "></i></a>
        <a href="https://www.linkedin.com/in/priscilla-ramos11/"><i class="fa fa-linkedin w3-hover-opacity" style="font-size:45px; "></i></a>
        
    </div>
</footer>
